ExoticDataStructures/.vs/
ExoticDataStructures/out/
DelegatesAndEvents/.vs/
DelegatesAndEvents/DelegatesAndEvents/bin/Debug/DelegatesAndEvents.exe
DelegatesAndEvents/DelegatesAndEvents/bin/
DelegatesAndEvents/DelegatesAndEvents/obj/
OpenGLBasics/.idea/
OpenGLBasics/cmake-build-debug/
OpenGLBasics/cmake-build-release/
StackVsHeap/C/.idea/
StackVsHeap/C/cmake-build-debug/
StackVsHeap/C/cmake-build-debug-mingw/
StackVsHeap/C/cmake-build-release/
StackVsHeap/C/cmake-build-release-mingw/
StackVsHeap/Cs/StackVsHeap/.vs/
StackVsHeap/Cs/StackVsHeap/StackVsHeap/bin/
StackVsHeap/Cs/StackVsHeap/StackVsHeap/obj/
OpenGLBasics/cmake-build-debug-remote-host/
OpenGLBasics/cmake-build-release-remote-host/
TemplateMetaProgramming/cmake-build-debug/
TemplateMetaProgramming/cmake-build-release/
TemplateMetaProgramming/cmake-build-debug-remote-host/
TemplateMetaProgramming/cmake-build-release-remote-host/
TemplateMetaProgramming/.idea/
Concurrency/.idea/Concurrency.iml
Concurrency/.idea/deployment.xml
Concurrency/.idea/misc.xml
Concurrency/.idea/modules.xml
Concurrency/.idea/vcs.xml
Concurrency/cmake-build-debug/cmake_install.cmake
Concurrency/cmake-build-debug/CMakeCache.txt
Concurrency/cmake-build-debug/Concurrency.cbp
Concurrency/cmake-build-debug/Concurrency.exe
Concurrency/cmake-build-debug/Concurrency.exp
Concurrency/cmake-build-debug/Concurrency.ilk
Concurrency/cmake-build-debug/Concurrency.lib
Concurrency/cmake-build-debug/Concurrency.pdb
Concurrency/cmake-build-debug/Makefile
Concurrency/cmake-build-debug/CMakeFiles/clion-environment.txt
Concurrency/cmake-build-debug/CMakeFiles/clion-log.txt
Concurrency/cmake-build-debug/CMakeFiles/cmake.check_cache
Concurrency/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Concurrency/cmake-build-debug/CMakeFiles/CMakeOutput.log
Concurrency/cmake-build-debug/CMakeFiles/Makefile.cmake
Concurrency/cmake-build-debug/CMakeFiles/Makefile2
Concurrency/cmake-build-debug/CMakeFiles/progress.marks
Concurrency/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.exe
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.obj
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.exe
Concurrency/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.obj
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/build.make
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/cmake_clean.cmake
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/CXX.includecache
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/depend.internal
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/depend.make
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/DependInfo.cmake
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/embed.manifest
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/flags.make
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/intermediate.manifest
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/main.cpp.obj
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/manifest.rc
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/manifest.res
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/objects1.rsp
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/progress.make
Concurrency/cmake-build-debug/CMakeFiles/Concurrency.dir/vc140.pdb
Concurrency/cmake-build-debug/Testing/Temporary/LastTest.log
Concurrency/cmake-build-release/cmake_install.cmake
Concurrency/cmake-build-release/CMakeCache.txt
Concurrency/cmake-build-release/Concurrency.cbp
Concurrency/cmake-build-release/Concurrency.exe
Concurrency/cmake-build-release/Concurrency.exe.manifest
Concurrency/cmake-build-release/Concurrency.exp
Concurrency/cmake-build-release/Concurrency.lib
Concurrency/cmake-build-release/Makefile
Concurrency/cmake-build-release/CMakeFiles/clion-environment.txt
Concurrency/cmake-build-release/CMakeFiles/clion-log.txt
Concurrency/cmake-build-release/CMakeFiles/cmake.check_cache
Concurrency/cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
Concurrency/cmake-build-release/CMakeFiles/CMakeOutput.log
Concurrency/cmake-build-release/CMakeFiles/Makefile.cmake
Concurrency/cmake-build-release/CMakeFiles/Makefile2
Concurrency/cmake-build-release/CMakeFiles/progress.marks
Concurrency/cmake-build-release/CMakeFiles/TargetDirectories.txt
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CMakeCCompiler.cmake
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CMakeSystem.cmake
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.exe
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.obj
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.exe
Concurrency/cmake-build-release/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.obj
Concurrency/cmake-build-release/CMakeFiles/Concurrency.dir/build.make
Concurrency/cmake-build-release/CMakeFiles/Concurrency.dir/cmake_clean.cmake
Concurrency/cmake-build-release/CMakeFiles/Concurrency.dir/CXX.includecache
Concurrency/cmake-build-release/CMakeFiles/Concurrency.dir/depend.internal
Concurrency/cmake-build-release/CMakeFiles/Concurrency.dir/depend.make
Concurrency/cmake-build-release/CMakeFiles/Concurrency.dir/DependInfo.cmake
Concurrency/cmake-build-release/CMakeFiles/Concurrency.dir/flags.make
Concurrency/cmake-build-release/CMakeFiles/Concurrency.dir/main.cpp.obj
Concurrency/cmake-build-release/CMakeFiles/Concurrency.dir/objects1.rsp
Concurrency/cmake-build-release/CMakeFiles/Concurrency.dir/progress.make
Concurrency/cmake-build-release/Testing/Temporary/LastTest.log
Concurrency/.idea/.gitignore
Concurrency/.idea/codeStyles/codeStyleConfig.xml
Concurrency/.idea/codeStyles/Project.xml
