ExoticDataStructures/.vs/
ExoticDataStructures/out/
DelegatesAndEvents/.vs/
DelegatesAndEvents/DelegatesAndEvents/bin/Debug/DelegatesAndEvents.exe
DelegatesAndEvents/DelegatesAndEvents/bin/
DelegatesAndEvents/DelegatesAndEvents/obj/
