ExoticDataStructures/.vs/
ExoticDataStructures/out/
DelegatesAndEvents/.vs/
DelegatesAndEvents/DelegatesAndEvents/bin/Debug/DelegatesAndEvents.exe
DelegatesAndEvents/DelegatesAndEvents/bin/
DelegatesAndEvents/DelegatesAndEvents/obj/
OpenGLBasics/.idea/
OpenGLBasics/cmake-build-debug/
OpenGLBasics/cmake-build-release/
StackVsHeap/C/.idea/
StackVsHeap/C/cmake-build-debug/
StackVsHeap/C/cmake-build-debug-mingw/
StackVsHeap/C/cmake-build-release/
StackVsHeap/C/cmake-build-release-mingw/
StackVsHeap/Cs/StackVsHeap/.vs/
StackVsHeap/Cs/StackVsHeap/StackVsHeap/bin/
StackVsHeap/Cs/StackVsHeap/StackVsHeap/obj/
