# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/codeStyles/codeStyleConfig.xml
/deployment.xml
/misc.xml
/modules.xml
/codeStyles/Project.xml
/RayTracingInOneWeekend.iml
/vcs.xml
